 /**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351
 */



.circle-container {
	position: relative;
	width: 30em;
	height: 30em;
	padding: 1.2em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: solid 1px;
	border-radius: 50%;
	margin: 1.75em auto 0;
  margin-top: 130px;
}
.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 10em; height: 10em;
	margin: -5em; /* 2em = 4em/2 */ /* half the width */

}
.circle-container img { display: block; width: 100%;border-radius: 50%; }
.deg0 { transform: translate(15em); } /* 12em = half the width of the wrapper */
.deg51 { transform: rotate(51deg) translate(15em) rotate(-51deg); }
.deg102 { transform: rotate(102deg) translate(15em) rotate(-102deg); }
.deg153 { transform: rotate(153deg) translate(15em) rotate(-153deg); }
.deg205 { transform: rotate(205deg) translate(15em) rotate(-205deg); }
.deg256 { transform: rotate(256deg) translate(15em) rotate(-256deg); }
.deg307 { transform: rotate(307deg) translate(15em) rotate(-307deg); }
/*.deg180 { transform: translate(-20em); }*/

#count{
    position: absolute;
		margin-top: 250px;
		margin-left: 150px;

}

#strict{
    position: absolute;
    margin-top: 180px;
    margin-left: 110px;

}

#start{
    position: absolute;
		margin-top: 180px;
		margin-left: 190px;

}
